.image-slider {
  position: relative;
}
.image-slide__image svg {
  width: 100%;
}

.image-slide__image img,
.video-slide__video video {
  width: 100%;
}

.video-slide__video {
  position: relative;
}

@media screen and (max-width: 750px) {
  .video-slide__play__btn--mobile-size-2 {
    width: 3rem;
    height: 3rem;
  }

  .video-slide__play__btn--mobile-size-3,
  .video-slide__play__btn--mobile-size-4 {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.image-slide__desc p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.3;
}
.image-slide__desc {
  padding: 1rem;
}
